<footer class="footer bg-secondary text-center">
    <div class="container">
        <span class="text-light">Copyright &copy; <%= link_to "Yang Jinwook", "https://www.google.com/", class: "text-white" %></span>
    </div>
</footer>